<p>Olá <%= @resource.email %>!</p>

<p>Estamos enviado o link para a redefinição da conta. Por favor, acesse o link abaixo!</p>

<p><%= link_to 'Recuperar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa requisição. Por favor, ignore esse email.</p>
