<div id="user-actions" class="modal">
    <div class="user-action">
        <%= link_to "Editar seu perfil", edit_profile_path %>
    </div>

    <div class="user-action">
        <%= link_to "Sair da conta", destroy_user_session_path, method: :delete,
            data: { confirm: "Deseja realmente sair da conta?" } %>
    </div>
</div>
